          <!-- Modal -->
<div class="modal fade" id="change" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel"><strong>个人信息</strong></h4>
          </div>
      <div class="modal-body">
        <%= form_for @user, :url => user_path(@user), :method => :patch do |f| %>
        <%= render :partial => 'form', :locals => { :f => f } %>
        <%= f.submit "保存", :class => "btn btn-info btn-lg" %>
        <% end %>  
      </div>
      </div>
  </div>
</div>

<script type="text/javascript">
  $('#change').modal('show')
</script>
